<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Analytics</title>
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
</head>
<body>


<div class="wrapper">

    <div class = "sidebar">
        <h1> FlashLearn </h1>
        <a href = "{% url 'overview' %}">Overview Page</a>
        <a href = "{% url 'decks' %}">My decks</a>
        <a href = "{% url 'flashcards' %}">Flashcards</a>
        <a href = "{% url 'analytics' %}">Analytics</a>
        <a href = "#">About</a>
        <a href = "{% url 'settings' %}">Settings</a>
        <a href = "{% url 'account_login' %}">Log In</a>
    </div>

    <div class="main">
        <h2> Analytics</h2>
        <p>Gather all cards of your choosing to form the perfect revision deck.</p>
        <p>Have a glance at your study stats.</p>





    </div>

</div>
</body>
</html>