<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title> CI536 Project</title>
    <link rel="stylesheet" href="{% static 'app/css/file.css' %}">
</head>
<body>


<div class="wrapper">

    <div class = "sidebar">
        <h1> CENJ </h1> <!-- name ??? -->
        <a href = "{% url 'file' %}">Overview Page</a>
        <a href = "{% url 'decks' %}">My decks</a>
        <a href = "{% url 'analytics' %}">Analytics</a>
        <a href = "#">About</a>
        <a href = "{% url 'settings' %}">Settings</a>
    </div>

    <div class="main">
        <h2> Analytics</h2>
        <p>Gather all cards of your choosing to form the perfect revision deck.</p>
        <p>Have a glance at your study stats.</p>
        <h2>Recent Scores</h2>
            <!-- Importing CDN for graph--> 
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script> 
            <canvas> 
                id="graph" style="width:100%;max-width:700px"  
            </canvas> 
             
            <script> 
                const labels = {{ labels|safe }};  
                const scores = {{ scores|safe }};  
                console.log(labels); 
                console.log(scores); 
                const ctx = document.getElementById('graph');  
 
                new Chart(ctx, { 
                    type: 'line', 
                    data: { 
                        labels: labels,  
 
                        datasets: [{ 
                            label: 'Average Score', 
                            data: scores, 
                            borderColor: 'blue', 
                            borderWidth: 2, 
                            fill: false 
                        }] 
                    }, 
                    options: { 
                        responsive: true 
                    } 
                }); 
            </script>
    </div>

</div>
</body>
</html>