<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title> CI536 Project</title>
    <link rel="stylesheet" href="{% static 'app/css/file.css' %}">
</head>
<body>


<div class="wrapper">

    <div class = "sidebar">
        <h1> FlashLearn </h1>
        <a href = "{% url 'overview' %}">Overview Page</a>
        <a href = "{% url 'decks' %}">My Decks</a>
        <a href = "{% url 'analytics' %}">Analytics</a>
        <a href = "#">About</a>
        <a href = "{% url 'settings' %}">Settings</a>
    </div>

    <div class="main">
        <h2> My Decks</h2>
        <p>Choose a deck to study or take a quiz.</p>
        <a href="{% url 'create_deck' %}">
            <button>Create New Deck</button>
        </a>

        <div class="decks">
        {% for deck in decks %}
            <div class="deck-card">
                <h3>{{ deck.name }}</h3>

                <div class="deck-links">
                    <a href="{% url 'flashcards' deck.id %}">Open Deck</a>
                    <a href="{% url 'quiz_mc' deck.id %}">MC Quiz</a>
                    <a href="{% url 'quiz' deck.id %}">Text Quiz</a>
                    <a href="{% url 'manage_deck' deck.id %}">Manage Deck</a>
                </div>
            </div>
        {% empty %}
            <p>No decks available.</p>
        {% endfor %}
        </div>
    </div>
</div>
</body>
</html>