<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Decks</title>
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
</head>
<body>


<div class="wrapper">

    <div class = "sidebar">
        <h1> FlashLearn </h1>
        <a href = "{% url 'overview' %}">Overview Page</a>
        <a href = "{% url 'decks' %}">My decks</a>
        <a href = "{% url 'analytics' %}">Analytics</a>
        <a href = "{% url 'profile' %}">Profile</a>
        <a href = "{% url 'settings' %}">Settings</a>
        <a href = "{% url 'account_login' %}">Log In</a>
    </div>

    <div class="main">
        <h2>Deck Maker</h2>

        {% for deck in decks %}
            <div>
                <h3>{{ deck.name }}</h3>

                <a href="{% url 'flashcards' deck.id %}">Open Deck</a>
                <a href="{% url 'quiz_mc' deck.id %}">MC Quiz</a>
                <a href="{% url 'quiz' deck.id %}">Text Quiz</a>
            </div>
        {% empty %}
            <p>No decks available.</p>
        {% endfor %}
    </div>
</div>
</body>
</html>