<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title> CI536 Project</title>
    <link rel="stylesheet" href="{% static 'app/css/file.css' %}">
</head>
<body>


<div class="wrapper">

    <div class = "sidebar">
        <h1> CENJ </h1> <!-- name ??? -->
        <a href = "{% url 'file' %}">Overview Page</a>
        <a href = "{% url 'decks' %}">My decks</a>
        <a href = "{% url 'analytics' %}">Analytics</a>
        <a href = "#">About</a>
        <a href = "{% url 'settings' %}">Settings</a>
    </div>

    <div class="main">
        <h2>Deck Maker</h2>

        {% for deck in decks %}
            <div>
                <h3>{{ deck.name }}</h3>

                <a href="{% url 'flashcards' deck.id %}">Open Deck</a>
                <a href="{% url 'quiz' deck.id %}">Start Quiz</a>
            </div>
        {% empty %}
            <p>No decks available.</p>
        {% endfor %}
    </div>
</div>
</body>
</html>