<!DOCTYPE html>
<html lang="en">
<head>
    <title> CI536 Project</title>
    <link rel="stylesheet" href="file.css">
</head>
   <body>


     <div class="wrapper">

         <div class = "sidebar">
             <h1> CENJ </h1> <!-- name ??? -->
             <a href = "file.html">Overview Page</a>
             <a href = "decks.html">My decks</a>
             <a href = "Flashcards.html">Flashcards</a>
             <a href = "analytics.html">Analytics</a>
             <a href = "#">About</a>
             <a href = "settings.html">Settings</a>
         </div>

         <div class="main">
             <h2> Make your own Flashcard !!! </h2>
             <p>Let's Get started with working on your flashcard. </p>
             <p>You can create, edit and review or completely delete your card by following the instructions below...</p>
         </div>

     </div>
   </body>
</html>