<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Overview</title>
        <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
    </head>
    <body>



     <div class="wrapper">

            <div class = "sidebar">
                <h1> FlashLearn </h1>
                <a href = "{% url 'overview' %}">Overview Page</a>
                <a href = "{% url 'decks' %}">My decks</a>
                <a href = "{% url 'analytics' %}">Analytics</a>
                <a href = "{% url 'profile' %}">Profile</a>
                <a href = "{% url 'settings' %}">Settings</a>
                <a href = "{% url 'account_login' %}">Log In</a>
                <a href = "{% url 'account_logout' %}">Log Out</a>

            </div>

        <div class = "main">


            <h2> Overview Page</h2>
            <p>Welcome, {{ user.username }}</p>

            <!-- statistics-->
             <div class="stats">
                  <div class="stat-box">
                    <h3>Cards Studied</h3>
                    <p>32</p>
                  </div>
                  <div class="stat-box">
                      <h3>Current Streak </h3>
                      <p> 01 days</p>
                  </div>
                  <div class="stat-box">
                      <h3>Accuracy</h3>
                      <p> 68%</p>
                </div>
            </div>

            <!-- decks -->
            <h2>My decks</h2>

            <div class="decks">
                {% for deck in decks %}
                    <div class="deck-card">
                        <h3>{{ deck.name }}</h3>

                        <!-- Optional: card count -->
                        <p>{{ deck.card_set.count }} cards</p>
                        <a href="{% url 'flashcards' deck.id %}">Revision</a>
                    </div>
                {% empty %}
                    <p>No decks available.</p>
                {% endfor %}
            </div>

        </div>

     </div>



    </body>
</html>