<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> CI536 Project</title>
    <link rel="stylesheet" href="file.css">
</head>
<body>


<div class="wrapper">

    <div class = "sidebar">
        <h1> CENJ </h1> <!-- name ??? -->
        <a href = "file.html">Overview Page</a>
        <a href = "decks.html">My decks</a>
        <a href = "Flashcards.html">Flashcards</a>
        <a href = "analytics.html">Analytics</a>
        <a href = "#">About</a>
        <a href = "settings.html">Settings</a>
    </div>

    <div class="main">
        <h2> Settings</h2>
        <p>Gather all cards of your choosing to form the perfect revision deck </p>
        <p>Should you decide to discard a card, You simply need to do as follows....</p>
    </div>

</div>
</body>
</html>