<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title> CI536 Project</title>
    <link rel="stylesheet" href="{% static 'app/css/file.css' %}">
</head>
<body>


<div class="wrapper">

    <div class = "sidebar">
        <h1> CENJ </h1> <!-- name ??? -->
        <a href = "{% url 'file' %}">Overview Page</a>
        <a href = "{% url 'decks' %}">My decks</a>
        <a href = "{% url 'flashcards' %}">Flashcards</a>
        <a href = "{% url 'analytics' %}">Analytics</a>
        <a href = "#">About</a>
        <a href = "{% url 'settings' %}">Settings</a>
    </div>

    <div class="main">
        <h2> Settings</h2>
        <p>Gather all cards of your choosing to form the perfect revision deck </p>
        <p>Should you decide to discard a card, You simply need to do as follows....</p>
    </div>

</div>
</body>
</html>